<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Blank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-alert trigger="calculateRide" header="Valor final da corrida" message={{output}} [buttons]="alertButtons"></ion-alert>


    <ion-list>
      <ion-radio-group [(ngModel)]="entry" (ionChange)="calculate()">
        <ion-list-header>
          <ion-label>Escolha sua modalidade</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-radio value="normal">Normal - Inicial: R$5,00 - Km Rodado: 2,50</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="superior">Superior - Inicial: R$7,50 - Km Rodado: 3,50</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="vip">VIP - Inicial: R$10,00 - Km Rodado: 5,50</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item>
      <ion-input type="number" [value]="km" label="KMs rodados" labelPlacement="floating" placeholder="..." [(ngModel)]="km"></ion-input>
    </ion-item>
    <ion-button (click) = 'calculate()' expand="block" id="calculateRide" color="dark" style="margin-top: 10px;">Finalizar corrida</ion-button>
  </div>
</ion-content>